<div class="pt-5 mt-5">
    <div class="col-12 d-flex justify-content-center">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>No autorizado</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/img/not.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Este sitio se encuentra restringido para su usuario
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>